@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&display=swap');

body {
    font-family: 'Assistant', sans-serif;
    background-color: var(--WhiteMy);
}

:root {
    --BrightRed: hsl(12, 88%, 59%);
    --DarkBlue: hsl(228, 39%, 23%);
    --DarkGrayishBlue: hsl(227, 12%, 40%);
    --VeryDarkBlue: hsl(233, 12%, 13%);
    --VeryPaleRed: hsl(13, 100%, 96%);
    --WhiteMy: hsl(0, 0%, 100%);
    --VaryLightGray: hsl(0, 0%, 98%);
    --GoldenMy: hsl(46, 100%, 50%);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    margin-bottom: 40px;
}

.logoHeader {
    height: 60px;
    width: 100px;
}

.container-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../img/banner_final.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
    width: 100%;
}

.text-banner1,
.text-banner2 {
    color: var(--WhiteMy);
    font-weight: 700;
    font-size: 50px;
    text-align: center;

}

.text-banner2 {
    font-size: 20px;
}


h1 {
    font-size: 30px;
    color: var(--BrightRed);
    font-weight: 700;
    text-align: center;
    padding: 80px 0 0;
}

.texteH1{
    color: var(--DarkBlue);
    text-align: center;
    padding: 40px 30px;
    font-size: 18px;
    font-style: oblique;
    font-weight: 300;
}

.containGallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin: 40px 0;
}

.contGalleryCard {
    display: flex;
    flex-direction: column;
    width: 300px;
    border-top-left-radius: 0.7rem;
    border-top-right-radius: 0.7rem;
    border-bottom-left-radius: 0.7rem;
    border-bottom-right-radius: 0.7rem;
    background-color: var(--WhiteMy);
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.1);
}

.imgGalleryCard {
    border-top-left-radius: 0.7rem;
    border-top-right-radius: 0.7rem;
}

h2 {
    font-weight: 600;
    text-align: center;
    color: var(--DarkBlue);
    font-size: 20px;
    padding: 30px 30px 0 30px;
}

.text {
    color: var(--DarkBlue);
    text-align: center;
    padding: 20px 15px;
    font-size: 21px;
    font-weight: 300;
}

.containGeneralVal {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--DarkBlue);
    padding: 60px 0;
}

.containSonVal {

    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 30px;
}

.iconVal {
    color: var(--WhiteMy);
    font-size: 60px;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

h3 {
    color: var(--WhiteMy);
    display: flex;
    justify-content: center;
    background-color: var(--DarkBlue);
    font-size: 25px;
    padding: 10px 0;
}

span {
    border-bottom: 4px solid var(--GoldenMy);
}

.text2 {
    color: var(--WhiteMy);
    text-align: center;
    font-size: 21px;
    font-weight: 300;
}

.containerCustomers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--WhiteMy);
}

.containerSmurfi,
.containerMayaguez,
.containerIngSanCarlos,
.containerColgate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
    
}

.message {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 10%;
    background-color: var(--BrightRed);
}

.messageText {
    color: var(--WhiteMy);
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    padding-bottom: 45px;

}

.buttMessage {
    padding: 1rem 2rem;
    border-radius: 2rem;
    color: var(--BrightRed);
    font-weight: 700;
    font-size: 15px;
    background-color: var(--WhiteMy);
    border: none;
    cursor: pointer;
}

footer {
    background-color: var(--DarkBlue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logoFooter {
    height: 40px;
    width: 100px;
    padding: 100px 0 30px 0;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    margin: 20px 0;
    width: 200px;
    height: 3rem;
    border-radius: 2rem;
    color: var(--DarkBlue);
    font-weight: 700;
    font-size: 15px;
    background-color: var(--WhiteMy);
    border: none;
}

.buttonFooter {
    width: 5rem;
    height: 3rem;
    border-radius: 2rem;
    color: var(--WhiteMy);
    font-weight: 700;
    font-size: 15px;
    background-color: var(--BrightRed);
    border: none;
    cursor: pointer;
}

.rights {
    color: var(--DarkGrayishBlue);
    font-size: 10px;
    padding: 20px;
    text-align: center;
}