@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--VaryLightGray);
}

:root {
    --BrightRed: hsl(12, 88%, 59%);
    --DarkBlue: hsl(228, 39%, 23%);
    --DarkGrayishBlue: hsl(227, 12%, 40%);
    --VeryDarkBlue: hsl(233, 12%, 13%);
    --VeryPaleRed: hsl(13, 100%, 96%);
    --VaryLightGray: hsl(0, 0%, 98%);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;  
}

.container-banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(/img/banner_final.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 100%;
    margin-top: 30px;
}

.text-banner1, .text-banner2{
    color: white; 
    font-weight: 700;
}

.text-banner2{
    font-size: 10px;
}

.logoHeader{
    height: 60px;
    width: 100px;
}


.titleOne {
    font-size: 45px;
    color: var(--DarkBlue);
    font-weight: 700;
    text-align: center;
    padding: 30px 0 0;
}

.titleTwo {
    font-weight: 600;
    text-align: center;
    color: var(--BrightRed);
    font-size: 20px;
    padding: 0 35px;
}

.text {
    color: var(--DarkBlue);
    text-align: center;
    padding: 70px 35px;
    font-size: 21px;
}

.containGalleryOne,
.containGalleryTwo,
.containGalleryThree {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 40px;
}

span {
    font-weight: 600;
}

.galleryOne,
.galleryTwo,
.galleryThree {
    width: 250px;
    border-radius: 0.5rem;
    background: #e0e0e0;
    background: #e0e0e0;
    box-shadow: 0px 0px 8px 2px #bebebe, 0px 0px 0px 0px #ffffff;
}

h3 {
    color: var(--DarkBlue);
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    display: flex;
    justify-content: center;

}

h4 {
    color: var(--BrightRed);
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 35px;
}

.tittleH3::before {
    display: flex;
    justify-items: center;
    content: "";
    height: 1rem;
    width: 1rem;
    margin-right: 3px;
    background-color: var(--BrightRed);
    border-radius: 100%;
}

.tittleH3 {
    font-size: 25px;
    display: flex;
    align-items: center;
}

.text2 {
    color: var(--DarkBlue);
    text-align: center;
    padding: 30px 30px;
    font-size: 21px;
}

.containerSecti {
    margin: 0 30px 30px;
    padding-top: 35px;
    border-radius: 30px;
    background:var(--VaryLightGray);
    box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.75);
}

.message {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 10%;
    margin-top: 80px;
    background-color: var(--BrightRed);
}

.messageText {
    color: white;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    padding-bottom: 45px;

}

.buttMessage {
    padding: 1rem 2rem;
    border-radius: 2rem;
    color: var(--BrightRed);
    font-weight: 700;
    font-size: 15px;
    background-color: white;
    border: none;
    cursor: pointer;
}

footer {
    background-color: var(--DarkBlue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logoFooter {
    height: 40px;
    width: 100px;
    padding: 100px 0 30px 0;
}

.listFooter>a {
    list-style: none;
    color: white;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    padding: 30px;

}

.listFooter>li {
    text-decoration: none;
    margin-bottom: 30px;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    margin: 20px 0;
    width: 200px;
    height: 3rem;
    border-radius: 2rem;
    color: var(--DarkBlue);
    font-weight: 700;
    font-size: 15px;
    background-color: white;
    border: none;
}

.buttonFooter {
    width: 5rem;
    height: 3rem;
    border-radius: 2rem;
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    background-color:var(--BrightRed);
    border: none;
    cursor: pointer;
}

.rights {
    color: var(--DarkGrayishBlue);
    font-size: 10px;
    padding: 20px;
    text-align: center;
}