@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&display=swap');

body {
    font-family: 'Assistant', sans-serif;
    background-color: var(--WhiteMy);
}

:root {
    --BrightRed: hsl(12, 88%, 59%);
    --DarkBlue: hsl(228, 39%, 23%);
    --DarkGrayishBlue: hsl(227, 12%, 40%);
    --VeryDarkBlue: hsl(233, 12%, 13%);
    --VeryPaleRed: hsl(13, 100%, 96%);
    --WhiteMy: hsl(0, 0%, 100%);
    --VaryLightGray: hsl(0, 0%, 98%);
    --GoldenMy: hsl(46, 100%, 50%);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.logoHeader {
    height: 60px;
    width: 100px;
}

.container-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../img/banner_final.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
    width: 100%;
}

.text-banner1,
.text-banner2 {
    color: var(--WhiteMy);
    font-weight: 700;
    font-size: 50px;
    text-align: center;

}

.text-banner2 {
    font-size: 20px;
}


h1 {
    font-size: 30px;
    color: var(--BrightRed);
    font-weight: 700;
    text-align: center;
    padding: 80px 0 0;
}

.texteH1 {
    color: var(--DarkBlue);
    text-align: center;
    padding: 40px 30px;
    font-size: 18px;
    font-style: oblique;
    font-weight: 300;
}

.containGallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin: 40px 0;
}

.contGalleryCard {
    display: flex;
    flex-direction: column;
    width: 340px;
    border-top-left-radius: 0.7rem;
    border-top-right-radius: 0.7rem;
    border-bottom-left-radius: 0.7rem;
    border-bottom-right-radius: 0.7rem;
    background-color: var(--WhiteMy);
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.1);
}

.imgGalleryCard {
    border-top-left-radius: 0.7rem;
    border-top-right-radius: 0.7rem;
}

h2 {
    font-weight: 600;
    text-align: center;
    color: var(--DarkBlue);
    font-size: 20px;
    padding: 30px 30px 0 30px;
}

.text {
    color: var(--DarkBlue);
    text-align: center;
    padding: 20px 15px;
    font-size: 21px;
    font-weight: 300;
}

.containGeneralVal {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--DarkBlue);
    padding: 60px 0;
}

.containSonVal {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 30px;
}

.iconVal {
    color: var(--WhiteMy);
    font-size: 60px;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.title1 {
    color: var(--WhiteMy);
    display: flex;
    justify-content: center;
    background-color: var(--DarkBlue);
    font-size: 25px;
    padding: 10px 0;
}

span {
    border-bottom: 4px solid var(--GoldenMy);
}

.text2 {
    color: var(--WhiteMy);
    text-align: center;
    font-size: 21px;
    font-weight: 300;
}

.containerCustomers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--WhiteMy);
}

.containerSmurfi,
.containerMayaguez,
.containerIngSanCarlos,
.containerColgate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;

}

.message {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 10px 30px;
    background-color: var(--BrightRed);
}

.messageText {
    color: var(--WhiteMy);
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    padding-bottom: 100px;

}

.containAvatar {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--VaryLightGray);
    border-radius: 0.9rem;
    box-shadow: 0px 0px 18px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 70px;
}

.avatar {
    position: absolute;
    top: -50px;
    width: 100px;
    border: solid 3px var(--WhiteMy);
    border-radius: 100px;
}

.nameAvatar {
    margin: 60px 0 15px;
    font-weight: 700;
    color: var(--BrightRed);
}

.commetAvatar {
    color: var(--DarkBlue);
    padding: 0 20px 30px;
    font-weight: 500;
}

footer {
    background-color: var(--DarkBlue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logoFooter {
    height: 40px;
    width: 100px;
    padding: 50px 0 10px 0;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    margin: 20px 0;
    width: 200px;
    height: 3rem;
    border-radius: 2rem;
    color: var(--DarkBlue);
    font-weight: 700;
    font-size: 15px;
    background-color: var(--WhiteMy);
    border: none;
}

.buttonFooter {
    width: 5rem;
    height: 3rem;
    border-radius: 2rem;
    color: var(--WhiteMy);
    font-weight: 700;
    font-size: 15px;
    background-color: var(--BrightRed);
    border: none;
    cursor: pointer;
}

.rights {
    color: var(--DarkGrayishBlue);
    font-size: 10px;
    padding: 20px;
    text-align: center;
}

@media screen and (min-width: 1023px) {

    .text-banner1,
    .text-banner2 {
        font-size: 50px;
    }

    .text-banner2 {
        font-size: 25px;
    }

    .texteH1 {
        margin: 0 25%;
    }

    .containComment {
        display: flex;
        gap: 40px;
        margin: 0 10%;
    }

    footer {
        flex-direction: row;
        justify-content: space-around;
        justify-content: none;
        align-items: none;
        padding: 40px 0;
    }

    .logoFooter {
        padding: 0;
    }

    ul {
        display: flex;
    }

    ul li:hover {
        color: var(--BrightRed);
    }

    .rights {
        padding: 0;
    }


}