@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--VaryLightGray);
}

:root {
    --BrightRed: hsl(12, 88%, 59%);
    --DarkBlue: hsl(228, 39%, 23%);
    --DarkGrayishBlue: hsl(227, 12%, 40%);
    --VeryDarkBlue: hsl(233, 12%, 13%);
    --VeryPaleRed: hsl(13, 100%, 96%);
    --WhiteMy: hsl(0, 0%, 100%);
    --VaryLightGray: hsl(0, 0%, 98%);
    --GoldenMy: hsl(46, 100%, 50%);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-color: var(--DarkBlue);
}

.logo {
    height: 60px;
    width: 60px;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.nav-list li a {
    text-decoration: none;
    color: var(--WhiteMy);
    font-weight: 500;
}

ul>a {
    list-style: none;
    color: var(--WhiteMy);
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    padding: 30px;

}

ul>li {
    text-decoration: none;
}

.abrir-menu,
.cerrar-menu {
    display: none;
}

@media screen and (max-width: 550px) {

    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 1.50rem;
        background-color: transparent;
        cursor: pointer;
    }

    .abrir-menu {
        color: var(--WhiteMy);
    }

    .cerrar-menu {
        color: var(--WhiteMy);
    }

    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: var(--DarkBlue);
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
        transition: 300ms;
    }

    .nav-list {
        flex-direction: column;
        align-items: end;
        color:var(--WhiteMy);
    }

    .nav-list li a {
        color:var(--WhiteMy);
    }
}