@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&display=swap');

body {
    font-family: 'Assistant', sans-serif;
    background-color: var(--WhiteMy);
}

:root {
    --BrightRed: hsl(12, 88%, 59%);
    --DarkBlue: hsl(228, 39%, 23%);
    --DarkGrayishBlue: hsl(227, 12%, 40%);
    --VeryDarkBlue: hsl(233, 12%, 13%);
    --VeryPaleRed: hsl(13, 100%, 96%);
    --VaryLightGray: hsl(0, 0%, 98%);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    margin-bottom: 40px;
}

.logoHeader {
    height: 60px;
    width: 100px;
}

.boxOne,
.boxTwo,
.boxThree {
    margin: 0 10px 30px;
    border-top: 4px solid var(--DarkBlue);
    background-color: var(--WhiteMy);
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.nameBox {
    font-size: 35px;
    font-weight: 600;
    color: var(--BrightRed);
    padding: 50px 25px 30px 25px;
    text-align: center;
}

.textBox {
    color: var(--DarkBlue);
    font-size: 21px;
    line-height: 25px;
    padding: 0 25px 40px;
    text-align: center;
}

.imgSupervisor {
    display: flex;
    flex-direction: row-reverse;
    padding: 0 35px 30px;
}

.message {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 10%;
    margin-top: 80px;
    background-color: var(--BrightRed);
}

.messageText {
    color: white;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    padding-bottom: 45px;

}

.buttMessage {
    padding: 1rem 2rem;
    border-radius: 2rem;
    color: var(--BrightRed);
    font-weight: 700;
    font-size: 15px;
    background-color: white;
    border: none;
    cursor: pointer;
}

footer {
    background-color: var(--DarkBlue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logoFooter {
    height: 40px;
    width: 100px;
    padding: 50px 0 10px 0;
}

.listFooter>a {
    list-style: none;
    color: white;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    padding: 30px;

}

.listFooter>li {
    text-decoration: none;
    margin-bottom: 30px;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    margin: 20px 0;
    width: 200px;
    height: 3rem;
    border-radius: 2rem;
    color: var(--DarkBlue);
    font-weight: 700;
    font-size: 15px;
    background-color: white;
    border: none;
}

.buttonFooter {
    width: 5rem;
    height: 3rem;
    border-radius: 2rem;
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    background-color: var(--BrightRed);
    border: none;
    cursor: pointer;
}

.rights {
    color: var(--DarkGrayishBlue);
    font-size: 10px;
    padding: 20px;
    text-align: center;
}