@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&display=swap');

body {
    font-family: 'Assistant', sans-serif;
    background-color: var(--WhiteMy);
}

:root {
    --BrightRed: hsl(12, 88%, 59%);
    --DarkBlue: hsl(228, 39%, 23%);
    --DarkGrayishBlue: hsl(227, 12%, 40%);
    --VeryDarkBlue: hsl(233, 12%, 13%);
    --VeryPaleRed: hsl(13, 100%, 96%);
    --VaryLightGray: hsl(0, 0%, 98%);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    margin-bottom: 40px;
}

.logoHeader {
    height: 60px;
    width: 100px;
}

.boxOne,
.boxTwo,
.boxThree {
    margin: 0 10px 30px;
    border-top: 4px solid var(--DarkBlue);
    background-color: var(--WhiteMy);
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.nameBox {
    font-size: 35px;
    font-weight: 600;
    color: var(--BrightRed);
    padding: 50px 25px 30px 25px;
    text-align: center;
}

.textBox {
    color: var(--DarkBlue);
    font-size: 21px;
    line-height: 25px;
    padding: 0 25px 40px;
    text-align: center;
}

.message {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 10px 30px;
    margin-top: 80px;
    background-color: var(--BrightRed);
}

.messageText {
    color: white;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    padding-bottom: 100px;

}

.containAvatar {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--VaryLightGray);
    border-radius: 0.9rem;
    box-shadow: 0px 0px 18px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 70px;
}

.avatar {
    position: absolute;
    top: -50px;
    width: 100px;
    border: solid 3px var(--WhiteMy);
    border-radius: 100px;
}

.nameAvatar {
    margin: 60px 0 15px;
    font-weight: 700;
    color: var(--BrightRed);
}

.commetAvatar {
    color: var(--DarkBlue);
    padding: 0 20px 30px;
    font-weight: 500;
}
footer {
    background-color: var(--DarkBlue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logoFooter {
    height: 40px;
    width: 100px;
    padding: 50px 0 10px 0;
}

.listFooter>a {
    list-style: none;
    color: white;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    padding: 30px;

}

.listFooter>li {
    text-decoration: none;
    margin-bottom: 30px;
}

.buttonFooter {
    width: 5rem;
    height: 3rem;
    border-radius: 2rem;
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    background-color: var(--BrightRed);
    border: none;
    cursor: pointer;
}

.rights {
    color: var(--DarkGrayishBlue);
    font-size: 10px;
    padding: 20px;
    text-align: center;
}

.prueba{
    height: 400px;
    width: 100%;
}

@media screen and (min-width: 1023px){

    .containerFather{
        margin: 0 5%;
    }

    .containComment {
        display: flex;
        gap: 40px;
        margin: 0 10%;
    }


    footer{
        flex-direction: row;
        justify-content: space-around;
        justify-content: none;
        align-items: none;
        padding: 40px 0;
        }
        .logoFooter{
            padding:0;
        }
    
        ul{
            display: flex;
        }
        ul li:hover{
            color: var(--BrightRed);
        }
        .rights{
            padding: 0;
        }
}