@import url(/css/reset.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

:root {
    --BrightRed: hsl(12, 88%, 59%);
    --DarkBlue: hsl(228, 39%, 23%);
    --DarkGrayishBlue: hsl(227, 12%, 40%);
    --VeryDarkBlue: hsl(233, 12%, 13%);
    --VeryPaleRed: hsl(13, 100%, 96%);
    --VaryLightGray: hsl(0, 0%, 98%);
}

header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.logoPrime {
    width: 80px;
    height: auto;
    margin: 20px;
}

.logoHambur {
    width: 30px;
    height: auto;
    margin: 20px;
}

.titleOne {
    font-size: 45px;
    color: var(--DarkBlue);
    font-weight: 700;
    text-align: center;
    padding: 30px 0 0;
}

.titleTwo {
    font-weight: 600;
    text-align: center;
    color: var(--BrightRed);
    font-size: 20px;
    padding: 0 35px;
}

.text {
    color: var(--DarkGrayishBlue);
    text-align: center;
    padding: 70px 35px;
    font-size: 21px;
}

.containGalleryOne,
.containGalleryTwo,
.containGalleryThree {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

span {
    font-weight: 600;
}

.galleryOne,
.galleryTwo,
.galleryThree {
    width: 250px;
    border-radius: 0.5rem;
    background: #e0e0e0;
    background: #e0e0e0;
    box-shadow: 0px 0px 8px 2px #bebebe, 0px 0px 0px 0px #ffffff;
}

h3 {
    color: var(--DarkBlue);
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    display: flex;
    justify-content: center;

}

h4 {
    color: var(--BrightRed);
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 35px;
}

.tittleH3::before {
    display: flex;
    justify-items: center;
    content: "";
    height: 1rem;
    width: 1rem;
    margin-right: 3px;
    background-color: var(--BrightRed);
    border-radius: 100%;
}

.tittleH3{
    font-size: 25px;
    display: flex;
    align-items: center;
}

.text2 {
    color: var(--DarkGrayishBlue);
    text-align: center;
    padding: 30px 30px;
    font-size: 21px;
}

.containerSecti {
    margin: 0 30px 30px;
    padding-top: 35px;
    border-radius: 30px;
    background: #e0e0e0;
    box-shadow: 0px 0px 20px 6px #bebebe, 0px -2px 0px 20px #ffffff;
}
